@media only screen and (max-width: 768px) {
    .gridRow {
        display: grid;
        grid-template-columns: min(25vw, 96px) minmax(0, 1fr);
        gap: min(1.25vw, 4px);
        align-items: center;
        margin-bottom: max(1.25vw, 4px);
        max-width: 256px;
    }

    .shoppingList {
        padding-bottom: 8px;
    }

    .shoppingList-addItemGrid {
        display: grid;
        gap: max(1.25vw, 4px);
        margin-top: max(1.25vw, 4px);
        place-content: center;
    }

    .shoppingList-addItemGrid > button {
        place-self: center;
    }

    .shoppingList-addItemGrid-description {
        margin-bottom: min(1.25vw, 4px);
    }

    .shoppingList-gridItem {
        grid-template-columns: repeat(4, 15% 45% 20% 15%);
        gap: max(0.6125vw, 2px);
        padding: min(2.5vw, 8px);
    }

    .shoppingList-gridContainer {
        padding: max(2.5vw, 8px);
    }

    .shoppingList-addItemGridHeader {
        margin: 0 max(2.5vw, 8px);
        padding: max(2.5vw, 8px) 0;
    }
}

@media only screen and (min-width: 768px) {
    .shoppingList-addItemGrid {
        width: 100%;
        grid-template-columns:
            min(10vw, 80px) min(10vw, 80px) min(6.25vw, 48px) min(16.5vw, 128px)
            1fr;
        gap: min(1vw, 8px);
        display: grid;
    }

    .shoppingList-addItemGrid-description {
        margin-bottom: min(1vw, 8px);
    }

    .shoppingList-gridItem {
        grid-template-columns: 10% 60% 15% 10%;
        gap: min(1vw, 8px);
        padding: min(0.5vw, 4px) min(1vw, 8px);
    }

    .shoppingList-gridContainer {
        padding: min(2vw, 16px);
    }

    .shoppingList-addItemGridHeader {
        margin: 0 min(2vw, 16px);
        padding-bottom: min(4vw, 32px);
    }
}

@media only screen and (min-width: 1020px) {
    .shoppingList {
        border-radius: 8px;
        margin-top: clamp(24px, 4vh, 64px);
    }

    .shoppingList-addItemGrid {
        grid-template-columns: repeat(5, 80px 125px 40px 160px 125px);
        gap: 16px;
        margin-top: 8px;
        display: grid;
    }

    .shoppingList-addItemGrid-description {
        margin-bottom: 8px;
    }

    .shoppingList-gridItem {
        grid-template-columns: repeat(4, 80px 720px 80px 60px);
        gap: 10px;
        padding: 4px 10px;
    }

    .shoppingList-gridContainer {
        padding: 16px;
    }

    .shoppingList-addItemGridHeader {
        padding-bottom: 32px;
    }
}

.borderRadiusBottom {
    border-radius: 0 0 8px 8px;
}

.borderRadiusFull {
    border-radius: 8px;
}

.borderRadiusTop {
    border-radius: 8px 8px 0 0;
}

.shoppingList {
    background-color: rgb(33, 33, 33);
}

.shoppingList-gridItem {
    color: rgb(33, 33, 33);
    background-color: rgb(207, 207, 207);
    display: grid;
}

.shoppingList-gridItem-striped {
    background-color: rgb(162, 162, 162);
}

.textAlignCenter {
    text-align: center;
}
