@media only screen {
    .shoppingList-addItemGrid {
        grid-template-columns: repeat(
            5,
            min(18%, 75px) 10% min(12%, 50px) min(32%, 400px) 22%
        );
    }

    .shoppingList-gridItem {
        grid-template-columns: repeat(4, 15% 45% 20% 15%);
        gap: 1vw;
        padding: 0.125vw 1vw;
    }

    .shoppingList {
        margin-bottom: 2vw;
    }

    .shoppingList-gridContainer {
        padding: 1vw;
    }

    .shoppingList-addItemGrid {
        gap: 1vw;
        padding: 0.125vw;
    }

    .shoppingList-addItemGridHeader {
        margin-left: 2vw;
        padding-bottom: 2vw;
    }
}

@media only screen and (min-width: 768px) {
    .shoppingList-addItemGrid {
        grid-template-columns: repeat(
            5,
            min(21%, 75px) 13% min(13%, 50px) 35% 30%
        );
    }

    .shoppingList-gridItem {
        grid-template-columns: repeat(4, 10% 60% 15% 10%);
        gap: 1vw;
        padding: 0.125vw 1vw;
    }

    .shoppingList {
        margin-bottom: 2vw;
    }

    .shoppingList-gridContainer {
        padding: 1vw;
    }

    .shoppingList-addItemGrid {
        gap: 1vw;
        padding: 0.125vw;
    }

    .shoppingList-addItemGridHeader {
        margin-left: 2vw;
        padding-bottom: 2vw;
    }
}

@media only screen and (min-width: 1020px) {
    .shoppingList-addItemGrid {
        grid-template-columns: repeat(5, 80px 125px 40px 160px 125px);
    }

    .shoppingList-gridItem {
        grid-template-columns: repeat(4, 80px 720px 80px 60px);
        gap: 10px;
        padding: 2px 10px;
    }

    .shoppingList {
        margin-bottom: 32px;
    }

    .shoppingList-gridContainer {
        padding: 16px;
    }

    .shoppingList-addItemGrid {
        gap: 16px;
        padding: 0.125vw;
    }

    .shoppingList-addItemGridHeader {
        margin-left: 32px;
        padding-bottom: 32px;
    }
}

.shoppingList {
    background-color: rgba(255, 132, 132, 0.25);
}

.shoppingList-gridItem {
    background-color: rgb(178, 214, 231);
    display: grid;
}

.textAlignCenter {
    text-align: center;
}

.shoppingList-addItemGrid {
    display: grid;
}
