body {
    margin: 0;
    font-family: 'Poppins-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(12, 12, 12);
    background-color: rgb(255, 210, 184);
}

h1 {
    text-transform: uppercase;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'), url('./fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('./fonts/Poppins-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'), url('./fonts/Poppins-Bold.ttf');
    font-weight: 500;
}
