* {
    margin: 0;
    padding: 0;
    border: none;
}

*:focus-visible {
    outline: 4px solid rgb(250, 204, 21);
}

/* mobile width */
@media only screen {
    * {
        font-size: min(3.8vw, 16px);
    }

    h1 {
        font-size: min(5vw, 24px);
        margin: 0 0 1vw 0;
        padding-top: 1vw;
    }

    input {
        font-size: min(3.6vw, 15px);
        padding: 0 0.25vw;
    }

    button {
        font-size: min(3.2vw, 14px);
    }
}

/* tablet width */
@media only screen and (min-width: 768px) {
    * {
        font-size: min(2w, 20px);
    }

    h1 {
        font-size: min(2.7vw, 28px);
        margin: 2vw 0 1vw 0;
        padding-top: 1vw;
    }

    input {
        font-size: min(1.8vw, 18px);
        padding: 0 0.25vw;
    }

    button {
        font-size: min(1.6vw, 16px);
    }
}

/* desktop width */
@media only screen and (min-width: 1020px) {
    * {
        font-size: 18px;
    }

    h1 {
        font-size: 36px;
        margin: 20px 0 10px 0;
        padding-top: 10px;
    }

    input {
        font-size: 16px;
        padding: 0 4px;
    }

    button {
        font-size: 16px;
    }

    button.add {
        font-size: 18px;
    }
}

body {
    font-family: 'Poppins-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(236, 232, 232);
    margin: 0 auto;
}

button {
    font-family: 'Poppins-Regular';
    color: rgb(33, 33, 33);
    background-color: rgb(250, 204, 21);
    border-radius: 8px;
    border-width: 2px;
}

button:hover {
    background-color: rgb(233, 178, 26);
    cursor: pointer;
}

button:active {
    background-color: rgb(209, 159, 23);
    cursor: pointer;
}

button.add:focus-visible {
    outline: 4px solid rgb(207, 207, 207);
}

button.edit {
    color: rgb(255, 255, 255);
    background-color: rgb(109, 107, 107);
}

button.edit:hover {
    background-color: rgb(148, 145, 145);
}

button.edit:active {
    color: rgb(234, 234, 234);
    background-color: rgb(167, 164, 164);
}

button.delete {
    color: rgb(246, 246, 246);
    background-color: rgb(26, 25, 25);
}

button.delete:hover {
    background-color: rgb(49, 47, 47);
}

button.delete:active {
    background-color: rgb(69, 67, 67);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

html {
    background-image: linear-gradient(rgb(47, 47, 47), rgb(69, 69, 69));
    max-width: 1020px;
    min-height: 100dvh;
    margin: auto;
}

input {
    font-family: 'Poppins-Regular';
    color: rgb(12, 12, 12);
    background-color: rgb(199, 216, 224);
    border-radius: 8px;
    border-width: 1px;
}

li {
    list-style-type: none;
}

.errorInput {
    color: rgb(185, 0, 0);
    background-color: rgb(234, 234, 234);
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'), url('./fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('./fonts/Poppins-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'), url('./fonts/Poppins-Bold.ttf');
    font-weight: 500;
}
