@media only screen and (min-width: 1040px) {
    * {
        font-size: 18px;
    }
    h1 {
        font-size: 36px;
        margin: 20px 0 10px 0;
        padding-top: 10px;
    }
    input {
        font-size: 16px;
        padding: 0 4px;
    }
    button {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1040px) {
    * {
        font-size: 1vw;
    }
    h1 {
        font-size: 2.5vw;
        margin: 2vw 0 1vw 0;
        padding-top: 1vw;
    }
    input {
        font-size: 16px;
        padding: 0 0.25vw;
    }
    button {
        font-size: 1vw;
    }
}

body {
    background-color: rgb(255, 210, 184);
    font-family: 'Poppins-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(12, 12, 12);
    margin: 0 auto;
    max-width: 1040px;
}

button {
    font-family: 'Poppins-Regular';
    color: rgb(12, 12, 12);
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
    border-width: 2px;
}

button:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
    scale: 1.05;
}

button:active {
    background-color: rgb(150, 150, 150);
    color: rgb(247, 247, 247);
    cursor: pointer;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

input {
    font-family: 'Poppins-Regular';
    color: rgb(12, 12, 12);
    background-color: rgb(178, 214, 231);
    border-radius: 4px;
    border-width: 1px;
}

li {
    list-style-type: none;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'), url('./fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('./fonts/Poppins-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'), url('./fonts/Poppins-Bold.ttf');
    font-weight: 500;
}
