@media only screen {
    .image-row {
        margin: 0 1vw;
        padding: 0.5vw;
    }
}

@media only screen and (min-width: 768px) {
    .image-row {
        margin: 0 1vw;
        padding: 0.5vw;
    }
}

@media only screen and (min-width: 1020px) {
    .image-row {
        margin: 0 16px;
        padding: 8px;
    }
}

.image-row {
    display: flex;
    background-color: rgb(255, 210, 184);
    overflow: auto;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image {
    max-width: 6%;
    height: auto;
}
